[Desktop Entry]
Type=Link
Name=3G-Connect-MellanoSeguridad_V1.0
URL=https://docs.google.com/document/d/1hd8hWqsD26PfJQnvBDia_p5_X0bDYGf-E9VhyP_p3yE/edit?usp=drivesdk
