[Desktop Entry]
Type=Link
Name=Manual-Comunicadores-Connect_V1.01
URL=https://docs.google.com/document/d/1HKHt71no14P_Cmspc8G7TEzmCe0aCao0aeztEekn23s/edit?usp=drivesdk
